<div class="list-card" *ngFor="let data of dataList">
  <nz-card style="width: 100%;margin-top: 16px" nzHoverable="true " (click)="goToDetail(data.blog_id)" nzSize="small">
    <nz-skeleton [nzLoading]="loading">
      <div class="blog-content">
        <aside>
          <nz-avatar nzSrc="../../../assets/user/nan.jpg"></nz-avatar>
        </aside>

        <section class="clearfix">
          <header>
            <h4>{{data?.blog_title}}</h4> <span
              class="pullright">{{data?.blog_created_time| date: "y-MM-dd HH:mm:ss"}}</span>
          </header>


          <div class="content">
            {{data?.blog_content}}
          </div>
          <div class="tags" *ngIf="data?.tags!=''&&data?.tags!=null&&data?.tags!=undefined"><i nz-icon nzType="tags"
              title="标签" nzTheme="outline"></i>
            <nz-tag [nzColor]="color.colors[i]" *ngFor="let tag of data.tags.split(',');let i=index">{{tag}}</nz-tag>
          </div>
          <footer>
            <span><i nz-icon nzType="eye" title="查看" nzTheme="outline"></i> {{data?.blog_views||0}}</span>
            <span><i nz-icon nzType="like" title="喜欢" nzTheme="outline"></i> {{data?.blog_like_count||0}}</span>
            <span><i nz-icon nzType="edit" title="评论" nzTheme="outline"></i> {{data?.blog_comment_count||0}}</span>
          </footer>
        </section>
      </div>
    </nz-skeleton>
  </nz-card>

</div>
<div class="loadmore">
  <button nz-button *ngIf="loadingMore" (click)="onLoadMore()">加载更多</button>
</div>
