<div class="user-info">
  <img src="../../../assets/user/nan.jpg" />
  <h2>MerLin</h2>
  <p>咸鱼一条</p>
</div>

<div class="list">
  <div class="title"><span>最新文章</span></div>
  <nz-list [nzDataSource]="data" nzBordered="false" nzSplit="false" [nzRenderItem]="item" nzSize="small"
    [nzItemLayout]="'horizontal'" [nzLoading]="loading">
    <ng-template #item let-item>
      <nz-list-item [nzContent]="item.title"></nz-list-item>
    </ng-template>

  </nz-list>
</div>
<div class="list">
  <div class="title"><span>标签</span></div>
  <div class="tags">
    <nz-tag *ngFor="let data of tagDatas" [nzColor]="data.color">{{data.tag}}</nz-tag>
  </div>
</div>
